<!-- <ul>
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <br />
  Démos
  <li><a routerLink="demo/demo1">Demo 1 : Typescript</a></li>
  <li><a routerLink="demo/demo2">Demo 2 : Bindings</a></li>
  <li><a routerLink="demo/demo3">Demo 3 : Pipes</a></li>
  <li><a routerLink="demo/demo4">Demo 4 : Directives</a></li>
  <br />
  Exercices
  <li><a routerLink="exo/exo1">Chronomètre</a></li>
</ul> -->

<ul>
  <li *ngFor="let lien of navList; let i = index">
    <a [routerLink]="lien.url"
       [ngClass]="{category : lien.children}"
       (click)="switchChildrenVisible(i)">
      {{lien.title}}
      </a>
      <ul *ngIf="lien.children && lien.isChildrenVisible">
        <li *ngFor="let souslien of lien.children">
          <a [routerLink]="souslien.url">{{souslien.title}}</a>
        </li>
      </ul>
  </li>
</ul>
